.results__gallery {
  margin: 3em 0;

  &:not(.loaded) {
    display: none;
  }
}

.results__loader {
  margin-top: 4em !important;
}

.results__error {
  color: red;
  margin-top: 4em;
  text-align: center;
}

.results__title {
  font-size: 1.5em;
  margin: 0;
}

.results__top-bar {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin: 3.5em 0 1em;

  button {
    margin-left: 1em;
  }
}

.results__image {
  padding: .25em;
  width: 20%;

  img {
    width: 100%;
  }
}
